
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by <a class="personal-link" href="https://dijaunsmith.github.io/Di-JaunSmith">Di-Jaun Smith</a></p>
  </div>
</div>
</body>
</html>
